<!DOCTYPE html>
<html lang="en">
  <head>
    <base target="_top">

    <!-- CSS -->
    <%- `<style>${include("/workspace/Gecko/global_files/CSS/GlobalAnimations.css")}</style>` %>
    <%- `<style>${include("/workspace/Gecko/global_files/CSS/GlobalStyles.css")}</style>` %>
    <%- `<style>${include("../CSS/Animations.css")}</style>` %>
    <%- `<style>${include("../CSS/Main.css")}</style>` %>
    <%- `<style>${include("../CSS/Create.css")}</style>` %>
    <%- `<style>${include("../CSS/Game.css")}</style>` %>
        
    <!-- JavaScript -->
    <%- `<script>${include("/workspace/Gecko/global_files/JavaScript/Global_Load_Event.js")}</script>` %>
    <%- `<script>${include("/workspace/Gecko/global_files/JavaScript/LCF.js")}</script>` %>
    <%- `<script>${include("../JavaScript/Load_Event.js")}</script>` %>
    <%- `<script>${include("../JavaScript/Resize_Elements.js")}</script>` %>
    <%- `<script>${include("../JavaScript/Create_Script.js")}</script>` %>
    <%- `<script>${include("../JavaScript/Game_Script.js")}</script>` %>
  </head>
  <body onload="OnLoad();" style="opacity: 0;">
    <div id="HomeButtonContainer" style="z-index: 10;">
      <a id="HomeButton" class="custom-button gray" onclick="LCF.Page.FadeTo('/home')">Gecko</a>
    </div>
    <div id="CreatePage" class="page" style="opacity: 1;">
      <%- `${include("../HTML/Create_Page.ejs")}` %>
    </div>

    <div id="GamePage" class="page" style="opacity: 0;" hidden>
      <canvas id="DrawPieceCanvas" hidden></canvas>
      <div id="Game" class="no-select">
        <div id="SideDiv">
          <div class="timer white" id="WhiteTimer">
            <div id="WhiteTimerText"></div>
          </div>
          <div class="timer black" id="BlackTimer">
            <div id="BlackTimerText"></div>
          </div>
        
          <div id="BlackCapturedPieces" class="capturedPieces white"></div> <!--Reverse because black captured pieces means the black pieces white has captured-->
          <div id="WhiteCapturedPieces"  class="capturedPieces black"></div>
        
          <div id="MaterialBar" class="materialBar" style="opacity: 1;" onclick="this.style.opacity = 1 - this.style.opacity;">
            <div id="MaterialBarPercentage" class="percentage"></div>
            <span id="WhiteMaterialDiffrence" class="diffrence white">0</span>
            <span id="BlackMaterialDiffrence" class="diffrence black">0</span>
          </div>
        </div>
        <div id="CanvasWrapper">
          <canvas id="PromoteCanvas" class="promoteCanvas" onclick="Chess.Functions.ChoosePromotion(event);" hidden></canvas>
          <div id="ChessBoard" class="chessBoard">
            <div id="GameOver" class="gameOver" hidden>
              <div id="GameOverTopBar" class="topBar draw">
                Draw by<br>Insufficient Material
              </div>
              <div id="GameGraphDiv" class="graph">
                <canvas id="GameGraph" class="canvas"></canvas>
              </div>
              <div id="GameOverButtons" class="buttons no-select">
                <div id="GameOverHomeButton" class="gameOverHomeButton" onclick="LCF.Page.FadeTo('/home')">
                  Home
                </div>
                <div id="GameOverRematchButton" class="gameOverRematchButton">
                  Rematch
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="ToggleDebug" class="no-select" onclick="document.getElementById('Debug').hidden = !document.getElementById('Debug').hidden;">Toggle Debug</div>
      <div id="Debug" hidden></div>
    </div>
  </body>
</html>