<!DOCTYPE html>
<html lang="en">
    <head>
        <base target="_top">

        <!-- CSS -->
        <%- `<style>${include("/workspace/Gecko/global_files/CSS/GlobalAnimations.css")}</style>` %>
        <%- `<style>${include("/workspace/Gecko/global_files/CSS/GlobalStyles.css")}</style>` %>
        <%- `<style>${include("../CSS/Animations.css")}</style>` %>
        <%- `<style>${include("../CSS/Main_CSS.css")}</style>` %>
        
        <!-- JavaScript -->
        <%- `<script>${include("/workspace/Gecko/global_files/JavaScript/Global_Load_Event.js")}</script>` %>
        <%- `<script>${include("/workspace/Gecko/global_files/JavaScript/LCF.js")}</script>` %>
        <%- `<script>${include("../JavaScript/Resize_Elements.js")}</script>` %>
    </head>
    <body onload="ResizeElements();" style="opacity: 0;">
        <div id="SiteTitleContainer">
            <a id="SiteTitle" class="custom-button" onclick="LCF.Page.FadeTo('/home')">Gecko</a>
            <a id="SinglePlayer" class="custom-button" onclick="LCF.Page.FadeTo('/singleplayer')">Single Player</a>
            <a id="FindGames" class="custom-button" onclick="LCF.Page.FadeTo('/game/find')">Find Games</a>
            <a id="CreateGame" class="custom-button" onclick="LCF.Page.FadeTo('/game/create')">Create Game</a>
        </div>
    </body>
</html>